.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.footer span{
    color: #61dafb;
    font-size: 1.2em;
}